/.idea
/node_modules
/public/css
/public/font
/public/fonts
/public/hot
/public/js
/public/mix-manifest.json
/public/packages
/public/storage
/public/uploads
/storage/administrator_settings
/storage/debugbar
/storage/*.key
/vendor

.env
.env.bak
.env.old
.env.save
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
